.form-container {
  padding: 40px;
  max-width: 500px;
  margin: auto;
  background-color: #1e293b;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.3);
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 40px;
}

.form-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #3b82f6;
}

.monetization-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.monetization-form input,
.monetization-form textarea {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #334155;
  color: #fff;
  outline: none;
  transition: background-color 0.3s;
}

.monetization-form input:focus,
.monetization-form textarea:focus {
  background-color: #475569;
}

.monetization-form textarea {
  resize: vertical;
  min-height: 100px;
}

.monetization-form button {
  padding: 12px;
  background-color: #3b82f6;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.monetization-form button:hover {
  background-color: #06a443;
}
.navbar {
  background-color: #0051c3;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #3b82f6;
}